/*
body {
    background-color: #84a9ac;
}
*/
.carousel-inner img {
  margin: auto;
}
/*
.carousel-control-prev{
  margin-left: 25%;
}
.carousel-control-next{
  margin-right: 25%;
}
*/
#Title{
  font-family: 'Merriweather', serif;
}
#Text{
  font-family: 'Merriweather', serif;
}
#Text2{
  font-family: 'Oswald', sans-serif;
}

#introtxt{
  margin: 5%;
  padding-left: 6%;
  text-align: justify;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}
#introimg{
  margin: 3%;
  padding-top: 2%;
}

.container {
  position: relative;
  margin-bottom: 5%;
}
.text-block {
  position: absolute;
  bottom: 2%;
  left: 5%;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  border-radius: 8px;
}
#auctionguy{
  width: 100%;
}

#txtBreak{
  text-align: center;
  margin-right: 3%;
  font-family: 'Merriweather', serif;
}
#paint{
  margin: 10% 10% 10% 20%;
  margin-bottom: 4%;
  border: solid 4px black;
  box-shadow: 0px 10px 10px 1px rgba(0,0,0,0.75);  
}
#galltxt{
  text-align: center;
  margin-top: 0%;
  margin-right: 10%;
  font-family: 'Merriweather', serif;
  font-style: italic;
}

#foot{
  background-color: gainsboro;
}
#footmargin{
  margin-top: 14%;
}
#footmargin2{
  margin-top: 23%;
}
#copy{
  color: whitesmoke;
}
#title{
  text-align: center;
  margin-top: 2%;
}

.fa {
  padding: 9px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin-right: 5px;
}

.fa:hover {

  opacity: 0.7;
}

.fa-facebook {
  color: black 

}
.fa-house{
  color: black;
}

.fa-twitter {
  color: black;
}

.fa-instagram {
  color: black;
}

#Sign{
  width: 50%;
  margin-left: 25%;
  margin-top: 5%;
}
#buttonsign{
  background-color: black;
  border-color: black;
}

a:visited {color: black;}

a{
  color: black;
}

a:hover{
  color: black;
}